<!DOCTYPE html>
<html>
<header>
    <meta charset="utf8">
    <title>HBS View Engine</title>
</header>
<body>
    <h1>{{toUpper 'This is About page'}}</h1>
    <footer>
        {{> footer}}
    </footer>
</body>
</html>
